/* Changes the new tab favicon */
.tabbrowser-tab[label^="New Tab"] .tab-icon-image {
	list-style-image: none !important;
	width: 0 !important;
	padding-left: 16px !important;
	background: url("Nord_Fox.png") !important; 
	background-size: 16px 16px !important;
	background-repeat: no-repeat !important;
}



/* Changes the new private tab favicon */
.tabbrowser-tab[label^="Private Browsing"] .tab-icon-image {
	list-style-image: none !important;
	width: 0 !important;
	padding-left: 16px !important;
	background: url("Nord_Private_Favicon.png") !important; 
	background-size: 16px 16px !important;
	background-repeat: no-repeat !important;
}


