/* Change background of New Tab */
@-moz-document url("about:home"), url("about:newtab") {
  body {
   background: #242933 !important;
  }
  }

  /*Change Firefox Logo on NewTab*/

@-moz-document url("about:home"), url("about:newtab"){
  .search-wrapper .logo-and-wordmark .logo{
    background-image: url("Nord_Fox.png") !important;
  }
}

.wordmark {
  fill: #88c0d0 !important;
}

.logo-and-wordmark {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 49px !important;
}

@-moz-document url(about:privatebrowsing) {

/* Removes the VPN ad */
#private-browsing-vpn-text {
    display: none !important;
}

#private-browsing-vpn-link {
    display: none !important;
}


/* Changes the logo on the private browsing home screen */
html.private .logo {
	background-image: url("Nord_Private_Fox.png") !important;
}



/* Changes the color of the wordmark */
.wordmark {
  fill: #88c0d0 !important;
}



/* Centers private logo and wordmark */
.logo-and-wordmark {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 49px !important;
}



/* Changes the private home screen color */
html.private {
    --in-content-page-background: #242933 !important;}




