
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

/* Site Identity Button, EV: hide label */
#identity-box.verifiedIdentity {background-color:#cfd !important}
#identity-box.verifiedIdentity #identity-icon-labels {display:none !important}
#identity-box.verifiedIdentity:hover #identity-icon-labels {display:-moz-box !important}

/* PAGE-ACTION - hide separator, show button after 1-sec hover */
#pageActionSeparator, #star-button-animatable-image {display: none !important}

#page-action-buttons image:not(#star-button) {
 width: 0 !important; transition: all 1s ease-in-out; padding: 0px !important;
}
#page-action-buttons:hover image:not(#star-button) {
 width: 24px !important; transition: all 1s ease-in-out 1s; padding: 4px !important;
}

/* changes the logo in the URL bar to Halo when you're on a Firefox page */
#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
    list-style-image: url("firefox_halo_red_with_paw_48.png") !important;
}

/* These three remove the white color around the firefox logo in the URLbar*/
#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button, #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button, #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button, #urlbar-label-box {
    background-color: transparent !important;
}

#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button:hover:not([open]), #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button:hover:not([open]), #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:hover:not([open]) {
    background-color: transparent !important;
}

#identity-box[pageproxystate="valid"].notSecureText > .identity-box-button:hover:active, #identity-box[pageproxystate="valid"].notSecureText > .identity-box-button[open="true"], #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button:hover:active, #identity-box[pageproxystate="valid"].chromeUI > .identity-box-button[open="true"], #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:hover:active, #identity-box[pageproxystate="valid"].extensionPage > .identity-box-button[open="true"] {
    background-color: transparent !important;
}

/* Changes the new tab favicon */
.tabbrowser-tab[label^="New Tab"] .tab-icon-image {
  list-style-image: none !important;
  width: 0 !important;
  padding-left: 16px !important;
  background: url("firefox_halo_red_with_paw_48.png") !important;
  background-size: 16px 16px !important;
  background-repeat: no-repeat !important;
}



/* Changes the new private tab favicon */
.tabbrowser-tab[label^="Private Browsing"] .tab-icon-image {
  list-style-image: none !important;
  width: 0 !important;
  padding-left: 16px !important;
  background: url("firefox_halo_with_paw_private_favicon.png") !important;
  background-size: 16px 16px !important;
  background-repeat: no-repeat !important;
}
