@-moz-document url(about:privatebrowsing) {

/* Removes the VPN ad */
#private-browsing-vpn-text {
    display: none !important;
}

#private-browsing-vpn-link {
    display: none !important;
}



/* Gets rid of search bar in private browsing mode */
html.private div.showPrivate div.search-inner-wrapper, html.private div.showPrivate div.info {
    display: none !important;
}



/* Hides the "You're in private browsing mode" dialog */
.info {
    display: none !important;
}



/* Changes the logo on the private browsing home screen */
html.private .logo {
    background-image: url("firefox_halo_with_paw_private.png") !important;
}



/* Changes the color of the wordmark */
.wordmark {
  fill: #BB8FCE !important;
}



/* Centers logo and wordmark */
.logo-and-wordmark {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 49px !important;
}



/* Changes the home screen color */
html.private {
    --in-content-page-background: #20242c !important;}




html.private .logo {
    background-image: url("firefox_halo_with_paw_private.png") !important;
}

.logo {background-image: url("firefox_halo_with_paw_red.png") !important;}
